entity: activity
lookup_field: externalId

mappings:
  - cc_field: name
    crm_field: externalId

  - cc_field: title
    crm_field: subject

  - cc_field: time
    crm_field: scheduledFrom
    transformers:
      - name: date_format
        params: { from: "Y-m-d H:i:s", to: "Y-m-d H:i" }

  - cc_field: time_close
    crm_field: scheduledTill
    transformers:
      - name: date_format
        params: { from: "Y-m-d H:i:s", to: "Y-m-d H:i" }

  - cc_field: user_email
    crm_field: ownerEmail

  - cc_field: user_login
    crm_field: ownerLogin

  # Contact/person link: strip Daktela prefix to get Raynet person ID
  - cc_field: contact_name
    crm_field: contactPersonId
    transformers:
      - name: strip_prefix
        params: { value: "raynet_person_" }
