entity: contact
lookup_field: name

mappings:
  # Daktela display name <- Raynet fullName (computed by Raynet API)
  - cc_field: title
    crm_field: fullName

  # Daktela unique name <- prefix + Raynet person ID
  - cc_field: name
    crm_field: id
    transformers:
      - name: prefix
        params: { value: "raynet_person_" }

  # First/last name
  - cc_field: firstname
    crm_field: firstName

  - cc_field: lastname
    crm_field: lastName

  # Academic titles
  - cc_field: customFields.titleBefore
    crm_field: titleBefore

  - cc_field: customFields.titleAfter
    crm_field: titleAfter

  # Salutation
  - cc_field: customFields.salutation
    crm_field: salutation

  # Primary email
  - cc_field: customFields.email
    crm_field: contactInfo.email
    transformers:
      - name: wrap_array

  # Secondary email (appended to same Daktela field)
  - cc_field: customFields.email
    crm_field: contactInfo.email2
    append: true
    transformers:
      - name: wrap_array

  # Primary phone
  - cc_field: customFields.number
    crm_field: contactInfo.tel1
    transformers:
      - name: wrap_array

  # Secondary phone (appended to same Daktela field)
  - cc_field: customFields.number
    crm_field: contactInfo.tel2
    append: true
    transformers:
      - name: wrap_array

  # Website
  - cc_field: customFields.www
    crm_field: contactInfo.www

  # Birthday
  - cc_field: customFields.birthday
    crm_field: birthday

  # Notes
  - cc_field: customFields.notice
    crm_field: notice

  # Category (enum object -> readable value)
  - cc_field: customFields.category
    crm_field: category.value

  # Contact source (enum object -> readable value)
  - cc_field: customFields.contactSource
    crm_field: contactSource.value

  # Social networks
  - cc_field: customFields.facebook
    crm_field: socialNetworkContact.facebook

  - cc_field: customFields.linkedin
    crm_field: socialNetworkContact.linkedin

  - cc_field: customFields.twitter
    crm_field: socialNetworkContact.twitter

  - cc_field: customFields.instagram
    crm_field: socialNetworkContact.instagram

  - cc_field: customFields.skype
    crm_field: socialNetworkContact.skype

  # CRM detail URL
  - cc_field: description
    crm_field: id
    transformers:
      - name: url
        params: { template: "https://app.raynet.cz/${RAYNET_INSTANCE_NAME}/?view=DetailView&en=Person&ei={value}" }

  # Account relation: resolve Raynet company ID -> Daktela account name
  - cc_field: account
    crm_field: primaryRelationship.company.id
    relation:
      entity: account
      resolve_from: id
      resolve_to: name
