entity: contact
lookup_field: name

mappings:
  # Daktela display name <- Raynet person fullName
  - source: title
    target: fullName
    direction: crm_to_cc

  # Daktela unique name <- prefix + Raynet person ID
  - source: name
    target: id
    direction: crm_to_cc
    transformers:
      - name: prefix
        params: { value: "raynet_person_" }

  # First/last name
  - source: firstname
    target: firstName
    direction: crm_to_cc

  - source: lastname
    target: lastName
    direction: crm_to_cc

  # Academic titles
  - source: customFields.titleBefore
    target: titleBefore
    direction: crm_to_cc

  - source: customFields.titleAfter
    target: titleAfter
    direction: crm_to_cc

  # Salutation
  - source: customFields.salutation
    target: salutation
    direction: crm_to_cc

  # Primary email (wrapped in array for Daktela)
  - source: customFields.email
    target: email
    direction: crm_to_cc
    transformers:
      - name: wrap_array

  # Secondary email (appended to same Daktela email array)
  - source: customFields.email
    target: contactInfo.email2
    direction: crm_to_cc
    append: true
    transformers:
      - name: wrap_array

  # Primary phone (wrapped in array for Daktela)
  - source: customFields.number
    target: tel1
    direction: crm_to_cc
    transformers:
      - name: wrap_array

  # Secondary phone (appended to same Daktela phone array)
  - source: customFields.number
    target: contactInfo.tel2
    direction: crm_to_cc
    append: true
    transformers:
      - name: wrap_array

  # Website
  - source: customFields.www
    target: contactInfo.www
    direction: crm_to_cc

  # Birthday
  - source: customFields.birthday
    target: birthday
    direction: crm_to_cc

  # Notes
  - source: customFields.notice
    target: notice
    direction: crm_to_cc

  # Category (enum object -> readable value)
  - source: customFields.category
    target: category.value
    direction: crm_to_cc

  # Contact source (enum object -> readable value)
  - source: customFields.contactSource
    target: contactSource.value
    direction: crm_to_cc

  # Social networks
  - source: customFields.facebook
    target: socialNetworkContact.facebook
    direction: crm_to_cc

  - source: customFields.linkedin
    target: socialNetworkContact.linkedin
    direction: crm_to_cc

  - source: customFields.twitter
    target: socialNetworkContact.twitter
    direction: crm_to_cc

  - source: customFields.instagram
    target: socialNetworkContact.instagram
    direction: crm_to_cc

  - source: customFields.skype
    target: socialNetworkContact.skype
    direction: crm_to_cc

  # CRM detail URL
  - source: description
    target: id
    direction: crm_to_cc
    transformers:
      - name: url
        params: { template: "https://app.raynet.cz/${RAYNET_INSTANCE_NAME}/?view=DetailView&en=Person&ei={value}" }

  # Account relation: resolve Raynet company_id -> Daktela account name
  - source: account
    target: company_id
    direction: crm_to_cc
    relation:
      entity: account
      resolve_from: id
      resolve_to: name
